html {
    background-color: lightslategrey;
}
body {
    margin: auto;
    max-width: 600px;
    height: 600px;
    background-color: azure;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color: purple;
}
div {
    border-width: 1px;
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
}
#billy {
    color: darkred;
}
#bob {
    color: darkgreen;
}
#bob a {
    text-decoration: line-through;
}
#bob .two a { 
    text-decoration: underline;
    color: orange;
}
.two {
    font-size: larger;
}
.three {
    font-size: smaller;
}
